:local(.styles) {
  .card {
    backface-visibility: hidden;
    width: 50%;
    height: 50vh;
    position: relative;
    transform: perspective(500px);
  }

  .nav-card {
    background: repeating-linear-gradient(90deg, #fff, #ccc 1vw, #fff 2vw);
    animation: slideBgRight 1s linear infinite;
  }

  .nav-btn {
    height: 30%;
  }

  .home-btn {
    height: 35%;
  }

  .title {
    height: 35%;
    background-color: rgba(76,232,95,0.9);
  }

  .card-holder .card-container-outer {
    background-color: #73F082;
    border: 1px solid #01D31B;
  }
}

@media (max-width: 768px) {
  :local(.styles) {
    height: 100%;

    .card {
      width: 100%;
      height: 25%;
      
      &:nth-of-type(3) {
        order: -2;
      }
    }

    .nav-btn, .home-btn, .title {
      height: 50%;
    }
  }
}