:local(.styles) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;

  .nav-btn {
    box-sizing: border-box;
    font-size: 2em;
    width: 50%;
    color: #000;
    background-color: rgba(255,255,255,0.95);
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      &:after {
        background: repeating-linear-gradient(90deg, #fff, #000 0.5vw, #fff 1vw)
      }
    }
  }

  .nav-btn.disabled {
    background-color: rgba(200,200,200,1);
    color: #aaa;
    cursor: default;
  }

  .nav-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: repeating-linear-gradient(90deg, #fff, #ccc 0.5vw, #fff 1vw)
  }

  .back-btn:after {
    animation: slideBgLeft 0.75s linear infinite;
  }

  .forward-btn:after {
    animation: slideBgRight 0.75s linear infinite;
  }

  .home-btn {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    position: relative;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .title {
    width: 100%;
    position: relative;

    h2 {
      position: absolute;
      width: 100%;
      text-align: center;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 768px) {
  :local(.styles) {
    .title, .home-btn, .nav-btn {
      width: 50%;
      height: 50%;
    }
  }
}