<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p class="text">{{ site.description }}</p>
      </div>

      <div class="footer-col  footer-col-2">
        <span class="social-buttons">
        <a href="https://codepen.io/benjanes">
          <span class="fa fa-codepen fa-lg"></span>
        </a>
        <a href="https://github.com/{{ site.github_username }}">
          <span class="fa fa-github fa-lg"></span>
        </a>
        <a href="https://linkedin.com/in/benjanes1">
          <span class="fa fa-linkedin fa-lg"></span>
        </a>
        <a href="mailto:ben@benjanes.com">
          <span class="fa fa-envelope fa-lg"></span>
        </a>
      </span>
      </div>
    </div>

  </div>

</footer>

<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

{% if page.url == '/projects/' %}
  <script type="text/javascript" src="{{ "/assets/js/rss-parse.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if page.layout == 'post' %}
  <script type="text/javascript" src="{{ "/assets/js/scroll-progress.js" | prepend: site.baseurl }}"></script>
{% endif %}
