<footer>
  <div class="wrapper">
    <ul>
      <li><a href="mailto:brjanes@gmail.com"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://github.com/benjanes"><i class="fa fa-github"></i></i></a></li>
      <li><a href="https://instagram.com/b__janes"><i class="fa fa-instagram"></i></i></a></li>
      <li><a href="https://www.linkedin.com/in/benjanes1/"><i class="fa fa-linkedin"></i></i></a></li>
      <li><a href="https://codepen.com/benjanes"><i class="fa fa-codepen"></i></i></a></li>
    </ul>
  </div>
</footer>