<div id="top-bar"></div>
<header class="site-header">

  <div class="wrapper">

    <div class="site-banner"></div>
    <!--<img class="site-banner" src="{{ "/assets/img/banner.jpg" | prepend: site.baseurl }}" alt="site banner" />-->

    <div class="title-menu-bar">

      <div>
        <a class="site-title" href="{{ site.baseurl }}/">
          <span class="title-name">{{ site.title }}</span>
          <span class="title-sub">{{ site.subtitle }}</span>
        </a>
      </div>
      <nav class="site-nav">
        <a href="#" class="menu-icon">
          <svg viewBox="0 0 36 26">
            <line id="burgerLine1" stroke-linecap="round" stroke="#424242" x1="9" y1="7" x2="27" y2="7" stroke-width="3" />
            <line id="burgerLine2" stroke-linecap="round" stroke="#424242" x1="9" y1="13" x2="27" y2="13" stroke-width="3" stroke-opacity="1" />
            <line id="burgerLine3" stroke-linecap="round" stroke="#424242" x1="9" y1="19" x2="27" y2="19" stroke-width="3" />
          </svg>
        </a>

        <div class="trigger">

          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url == link.url %}
              {% assign current = 'active' %}
            {% endif %}

            <a class="page-link {{ current }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>

          {% endfor %}

          <!--<a class="page-link" href="{{ site.baseurl }}/about">about</a>
          <a class="page-link" href="{{ site.baseurl }}/projects">projects</a>
          <a class="page-link" href="{{ site.baseurl }}/work">work</a>-->
          <canvas id="underline"></canvas>
        </div>
      </nav>
    </div>
  </div>

</header>
