<div class="flex-container">

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="http://chatson.science">Chatson</a></h4>
            <img class="project-img" src="/assets/img/chatson1.jpg" />
            <p><b>Node, Express, RethinkDB, React, Redux, Socket.io, SVG, Greensock</b> | Real-time visualizations of Twitch chat channel crowd mentality and tone.</p>
            <div class="proj-links">
                <p>
                    <a href="http://chatson.science">Project Page</a> - <a href="https://github.com/badT/Chatson">Github Repo</a>
                </p>
            </div>
        </div>
    </article>

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="http://canteentrip.herokuapp.com/">Canteen Trip</a></h4>
            <img class="project-img" src="/assets/img/canteen.jpg" />
            <p><b>Node, Express, MongoDB, AngularJS, Socket.io</b> | Organize trips with friends, divide tasks, chat in real-time.</p>
            <div class="proj-links">
                <p>
                    <a href="http://canteentrip.herokuapp.com/">Project Page</a> - <a href="https://github.com/AthenaBoiz/Canteen">Github Repo</a>
                </p>
            </div>
        </div>
    </article>

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="http://watchout-sucka.herokuapp.com/">Watchout</a></h4>
            <img class="project-img" src="/assets/img/watchout.jpg" />
            <p><b>Node, Express, D3, Socket.io, SVG</b> | Play live dodgeball with an unlimited number of compatriots.</p>
            <div class="proj-links">
                <p>
                    <a href="http://watchout-sucka.herokuapp.com/">Project Page</a>
                </p>
            </div>
        </div>
    </article>

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="https://pairaoke.herokuapp.com/">Pairaoke</a></h4>
            <img class="project-img" src="/assets/img/pairaoke.jpg" />
            <p><b>Node, Express, AngularJS, Postgres, PostGIS, Leaflet</b> | Plan and find informal pop-up karaoke events in your area.</p>
            <div class="proj-links">
                <p>
                    <a href="https://pairaoke.herokuapp.com/">Project Page</a> - <a href="https://github.com/AthenaBoiz/pairaoke">Github Repo</a>
                </p>
            </div>
        </div>
    </article>

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="http://paddle-pals.herokuapp.com/">Paddle Pals</a></h4>
            <img class="project-img" src="/assets/img/paddlepals.jpg" />
            <p><b>Node, Express, AngularJS, Socket.io, D3</b> | Play a collaborative paddleball game with up to 4 players at a time.</p>
            <div class="proj-links">
                <p>
                    <a href="http://paddle-pals.herokuapp.com/">Project Page</a> - <a href="https://github.com/benjanes/paddle-pals">Github Repo</a>
                </p>
            </div>
        </div>
    </article>

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="http://www.benjanes.com/WordCloud/">WordCloud</a></h4>
            <img class="project-img" src="/assets/img/wordcloud.jpg" />
            <p><b>BackboneJS, canvas, HTML5</b> | Create word cloud images from uploaded text documents.</p>
            <div class="proj-links">
                <p>
                    <a href="http://www.benjanes.com/WordCloud/">Project Page</a> - <a href="https://github.com/benjanes/WordCloud">Github Repo</a>
                </p>
            </div>
        </div>
    </article>

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="http://www.benjanes.com/ImgWheel/">ImgWheel</a></h4>
            <img class="project-img" src="/assets/img/imgwheel.jpg" />
            <p><b>jQuery</b> | jQuery plugin for creating animated, interactive displays of content.</p>
            <div class="proj-links">
                <p>
                    <a href="http://www.benjanes.com/ImgWheel/">Project Page</a> - <a href="https://github.com/benjanes/ImgWheel">Github Repo</a>
                </p>
            </div>
        </div>
    </article>

</div>
