<div class="flex-container">

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="http://www.benjanes.com/WordCloud/">WordCloud</a></h4>
            <p>This is a recent Backbone app I put together for making word clouds out of text documents. Word size is relative to frequency within the document. Words are randomly drawn on a <code>canvas</code> element.</p>
            <div class="proj-links">
                <p>
                    <a href="http://www.benjanes.com/WordCloud/">Project Page</a> - <a href="https://github.com/benjanes/WordCloud">Github Repo</a>
                </p>
            </div>
        </div>
    </article>

    <article class="col-2-article">
        <div class="article-contents">
            <h4><a href="http://www.benjanes.com/ImgWheel/">ImgWheel</a></h4>
            <p>My first jQuery plugin, from about a year and a half ago. Can be used to create an animated, rotating display of images or other content.</p>
            <div class="proj-links">
                <p>
                    <a href="http://www.benjanes.com/ImgWheel/">Project Page</a> - <a href="https://github.com/benjanes/ImgWheel">Github Repo</a>
                </p>
            </div>
        </div>
    </article>

</div>

<h2>Recent Pens</h2>
<div id="recent-pens" class="flex-container"></div>

<h2>Popular Pens</h2>
<div id="pop-pens" class="flex-container"></div>






