<div class="work-page-intro">
    <p>There is a nascent push in the digital advertising industry to switch online banner ads from Flash to HTML5. As such, a lot of my recent work has been making HTML5 banner ads. These have included animations done with CSS, requestAnimationFrame, and/or the Greensock library, depending on animation complexity and final project file size needs.</p>

    <p>See below for links to sites I've worked on.</p>
</div>

<h2>Sites</h2>

<div class="site-examples">
	<a href="http://www.oliverwyman.com/our-world"><img src="{{ "/assets/img/owow.jpg" | prepend: site.baseurl }}" alt="OW Our World screenshot" /></a><!--
	--><a href="http://www.visitsouthjersey.com"><img src="{{ "/assets/img/vsj.jpg" | prepend: site.baseurl }}" alt="SJTC screenshot" /></a><!--
	--><a href="http://www.mmc.com"><img src="{{ "/assets/img/mmc.jpg" | prepend: site.baseurl }}" alt="MMC screenshot" /></a>
</div>

