/**
 * Site header
 */

body {
    overflow-x: hidden;
    color: $text-color;
}

h1, h2, h3, h4, h5 {
    //font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-family: 'Rubik', 'Helvetica', 'Arial', 'sans-serif';
}

a, a:visited {
    color: $link-color;
}

#top-bar {
    width: 100%;
    height: 5px;
    background-color: black;
    position: fixed;
    z-index: 4;
}

.site-header {
    background-color: $background-color;
}

.site-header .wrapper {
    @include media-query($on-mobile) {
        padding-right: 0;
        padding-left: 0;
    }
}

.site-header .wrapper:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: $background-color;
    width: 30px;
    height: 100%;
}

.site-banner {
    width: 100%;
    display: block;
    height: 200px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 3;
}

.title-menu-bar {
    position: relative;
    //font-family: 'Ubuntu', 'Helvetica', 'Arial', 'sans-serif';
    font-family: 'Rubik', 'Helvetica', 'Arial', 'sans-serif';
    top: 0px;
    z-index: 2;
    background-color: $background-color;
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: 0;
        padding-left: 0;
    }
}

.site-title {
    color: black;
    line-height: 20px;
    margin-top: 8px;
    font-family: 'Ubuntu', 'Rubik', 'Helvetica', 'Arial', 'sans-serif';
    &:hover {
        text-decoration: none;
    }

    @include media-query($on-mobile) {
        font-size: 18px;
        margin-top: 0px;
        line-height: initial;
    }
}

.title-name {
    display: block;
    font-weight: 700;
}
.title-sub {
    font-size: 15px;
    character-spacing: 0;
    font-weight: 400;
}

.site-nav {
    right: 0;
    @include media-query($on-palm) {
        background-color: #fff;
    }
}

#underline {
    left: -3px;
}

.site-nav .menu-icon {
    padding-top: 0;
    svg {
        width: 36px;
        height: 26px;
    }
}

.trigger {
    position: relative;
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        @include media-query($on-palm) {
            display: none;
        }
    }
}

.trigger a:hover {
    text-decoration: none;
    color: red;
}

/**
 * front page posts
 */
h4.post-title {
    font-size: 22px;
}

/**
 * Page content
 */

.page-content {
    padding-top: 10px;
}

/**
 * Post content
 */
.post-container article.post-content p,
.post-container article.post-content pre,
.post-container article.post-content ul,
.post-container article.post-content ol {
    margin-bottom: 25px;
}
.post-container h3 {
    margin-bottom: 8px;
    margin-top: 30px;
}

/**
 * card container
 */
.about-content, .work-page-intro, .post-container {
    padding: 2em 2em 1em 2em;
    margin: 0 0.5em 2em 0.5em;
    box-shadow: -1px 2px 4px 0 gray, 1px 2px 4px 0 gray;
    -webkit-clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px);
    background-color: #fafafa;
}

.about-content p, .work-pate-intro p {
    margin-bottom: 25px;
}

/* Projects */
.flex-container {
    margin: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    @include media-query($on-palm) {
        display: block
    }
}

.col-2-article {
    width: 48%;
    padding: 1em;
    margin: 0 2% 2em 0;
    box-sizing: border-box;
    box-shadow: -1px 2px 4px 0 gray;
    -webkit-clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px);
    @include media-query($on-palm) {
        width: initial;
        margin: 1em 0.5em;
    }
}

.col-2-article:nth-of-type(even) {
    transform: rotateY(180deg);
    margin: 0 0 2em 2%;
    @include media-query($on-palm) {
        margin: 1em 0.5em;
        transform: rotate(180deg);
        box-shadow: 1px -2px 4px 0 gray;
    }
}

.col-2-article:nth-of-type(even) .article-contents {
    transform: rotateY(-180deg);
    @include media-query($on-palm) {
        transform: rotate(-180deg);
    }
}


.flex-container article {
    background-color: #fafafa;
}

.flex-container article:hover {
    background-color: #f1f1f1;
}

.proj-links p {
    margin-bottom: 0;
}


/* Site examples */

.site-examples {
    padding: 0 15px;
    @include media-query($on-palm) {
        padding: 0;
    }
}

.site-examples a {
    display: inline-block;
    width: 50%;

    @include media-query($on-palm) {
        display: block;
        width: 75%;
        margin: 15px auto;
    }
}

.site-examples a:last-of-type {
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);

    @include media-query($on-palm) {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
}

.site-examples a img {
    -webkit-clip-path: polygon(50% 50%, 75% 50%, 100% 25%, 75% 0, 50% 25%, 75% 50%, 50% 50%, 25% 50%, 0 25%, 25% 0, 50% 25%, 25% 50%, 50% 50%, 25% 50%, 0 75%, 25% 100%, 50% 75%, 25% 50%, 50% 50%, 75% 50%, 100% 75%, 75% 100%, 50% 75%, 75% 50%, 50% 50%);
    clip-path: polygon(50% 50%, 75% 50%, 100% 25%, 75% 0, 50% 25%, 75% 50%, 50% 50%, 25% 50%, 0 25%, 25% 0, 50% 25%, 25% 50%, 50% 50%, 25% 50%, 0 75%, 25% 100%, 50% 75%, 25% 50%, 50% 50%, 75% 50%, 100% 75%, 75% 100%, 50% 75%, 75% 50%, 50% 50%);
    opacity: .8;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s;

    @include media-query($on-palm) {
        -webkit-clip-path: none;
                clip-path: none;
    }

}

.site-examples a img:hover {
    -webkit-clip-path: polygon(50% 50%, 50% 50%, 100% 50%, 100% 0, 50% 0%, 50% 50%, 50% 50%, 50% 50%, 0 50%, 0 0, 50% 0, 50% 50%, 50% 50%, 50% 50%, 0 50%, 0 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%);
    clip-path: polygon(50% 50%, 50% 50%, 100% 50%, 100% 0, 50% 0%, 50% 50%, 50% 50%, 50% 50%, 0 50%, 0 0, 50% 0, 50% 50%, 50% 50%, 50% 50%, 0 50%, 0 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%);
    opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);

    @include media-query($on-palm) {
        -webkit-clip-path: none;
                clip-path: none;
    }
}


/*
 * Site Footer
 */

.social-buttons {
    position: fixed;
    top: 20px;
    left: 0;
    float: right;
    a {
        display: block;
        margin-bottom: 10px;
        margin-left: 5px;
        color: $grey-color;
        :hover {
            color: $grey-color-dark;
        }
    }
    a:hover {text-decoration: none;}

    @include media-query($on-laptop) {
        position: static;
        a {
            display: inline;
            margin-bottom: 0px;
            margin-left: 10px;
        }
    }

    @include media-query($on-palm) {
        float: none;
        a {
            margin-left: 0;
            margin-right: 10px;
        }
    }
}

#progressBar {
    position: fixed;
    top: 5px;
    right: 0;
    @include media-query($on-laptop) {
        display: none;
    }
}
