:local(.styles) {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;

  .card {
    backface-visibility: hidden;
    width: 50%;
    height: 50vh;
    position: relative;
    transform: perspective(500px);
  }

  .nav-card {
    background: repeating-linear-gradient(90deg, #fff, #000 1vw, #fff 2vw);
    animation: slideBgLeft 0.5s linear infinite;
  }

  .nav-btn {
    height: 30%;
  }

  .home-btn {
    height: 35%;
  }

  .title {
    height: 35%;
    background-color: rgba(255,92,83,0.95);
  }

  .card-holder .card-container-outer {
    background-color: #FF817A;
    border: 1px solid #FF0F02;
  }
}

@media (max-width: 768px) {
  :local(.styles) {
    height: 100%;

    .card {
      width: 100%;
      height: 25%;
      
      &:nth-of-type(2) {
        order: -1;
      }

    }

    .nav-btn, .home-btn, .title {
      height: 50%;
    }
  }
}