@import '../../../constants';

:local(.styles) {
  .card {
    backface-visibility: hidden;
    width: 50%;
    height: 50vh;
    position: relative;
    transform: perspective(500px);
  }

  .nav-btn {
    height: calc(30% + 1px);
  }

  .home-btn {
    height: 35%;
  }

  .title {
    height: 35%;
    background-image: $projectsGradient;
  }

  .card-holder .card-container-outer {
    background-color: $projectsColor;
    border: 1px solid darken($projectsColor, 10%);
  }
}

@media (max-width: 768px) {
  :local(.styles) {
    height: 100%;

    .card {
      width: 100%;
      height: 25%;
      
      &:nth-of-type(2) {
        order: -1;
      }
    }

    .nav-btn, .home-btn, .title {
      height: 50%;
    }
  }
}