:local(.styles) {
  padding: 1.5em 2.5em;
  background-color: #D9FFE3;

  .post-nav-btn {
    position: fixed;
    background-color: black;
    left: 0;
    width: 30px;
    height: 30px;
    top: 5px;
    transform: perspective(125px);

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      text-decoration: none;
      position: relative;

      span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    a:visited {
      color: white;
    }
  }

  .post-nav-btn:nth-of-type(2) {
    top: 40px;
  }

}