:local(.styles) {
  .menu-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 50%;
    height: 50vh;
    position: relative;
    transform: perspective(500px);
  }

  .menu-item:nth-of-type(1), .menu-item:nth-of-type(4) {
    background: repeating-linear-gradient(0deg, #fff, #ccc 1vh, #fff 2vh);
    &:hover {
      background: repeating-linear-gradient(0deg, #fff, #000 1vh, #fff 2vh);
    }
  }

  .menu-item:nth-of-type(2), .menu-item:nth-of-type(3) {
    background: repeating-linear-gradient(90deg, #fff, #ccc 1vw, #fff 2vw);
    &:hover {
      background: repeating-linear-gradient(90deg, #fff, #000 1vw, #fff 2vw);
    }
  }

  .menu-item:nth-of-type(1) {
    animation: slideBgDown 1s linear infinite;
  }

  .menu-item:nth-of-type(2) {
    animation: slideBgLeft 1s linear infinite;
  }

  .menu-item:nth-of-type(3) {
    animation: slideBgRight 1s linear infinite;
  }

  .menu-item:nth-of-type(4) {
    animation: slideBgUp 1s linear infinite;
  }
}

@media (max-width: 768px) {
  :local(.styles) {
    height: 100%;

    .menu-item {
      width: 100%;
      height: 25%;
      
      &:nth-of-type(1), &:nth-of-type(3) {
        background: repeating-linear-gradient(0deg, #fff, #ccc 1vh, #fff 2vh);
        animation: slideBgDown 1s linear infinite;
        &:hover {
          background: repeating-linear-gradient(0deg, #fff, #ccc 1vh, #fff 2vh);
        }
      }

      &:nth-of-type(2), &:nth-of-type(4) {
        background: repeating-linear-gradient(0deg, #fff, #ccc 1vh, #fff 2vh);
        animation: slideBgUp 1s linear infinite;
        &:hover {
          background: repeating-linear-gradient(0deg, #fff, #ccc 1vh, #fff 2vh);
        }
      }

    }
  }
}