$contactColor: #ff9a9e;
$projectsColor: #6a85b6;
$blogColor: #a1c4fd;
$aboutColor: #cd9cf2;

$contactLight: #fad0c4;
$projectsLight: #bac8e0;
$blogLight: #c2e9fb;
$aboutLight: #f6f3ff;

$contactGradient: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 100%);
$projectsGradient: linear-gradient(45deg, #6a85b6 0%, #bac8e0 100%);
$blogGradient: linear-gradient(45deg, #a1c4fd 0%, #c2e9fb 100%);
$aboutGradient: linear-gradient(45deg, #cd9cf2 0%, #f6f3ff 100%);